<div id="ads">
  <div class="container">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- bestgems-responsive -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8257359908391644"
         data-ad-slot="9106212026"
         data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
