<div id="footer">
  <div>BestGems.org is open source.</div>
  <div>See our <a href="https://github.com/xmisao/bestgems.org"><i class="fa fa-github" aria-hidden="true"></i>GitHub repository</a>.</div>
  <div><img id="footericon" src="/assets/images/xmisao_icon_16x16.png">xmisao, 2013-</div>
</div>
