<div class ="container">
  <div id="title-pane">
    <h1>About this site</h1>
  </div>

  <h3>Author</h3>
  <img style="margin-left:auto; margin-right:auto" src="/assets/images/xmisao_icon_96x96.png" alt="x">
  <ul>
    <li>xmisao -- ぺけみさお</li>
    <li><a href="mailto:mail@xmisao.com">mail@xmisao.com</a> (en, ja)</li>
    <li><a href="http://www.xmisao.com/">http://www.xmisao.com/</a> (ja)</li>
  </ul>
  <h3>Source code</h3>
  <p>BestGems.org is open souce. See our <a href="https://github.com/xmisao/bestgems.org"><i class="fa fa-github" aria-hidden="true"></i>GitHub repository</a>.</p>
</div>
