<div class ="container">
  <div>
    <p>We could not display your requested page for following reasons.</p>
    <ul>
      <li>Request from the right holder.</li>
      <li>Legal reasons.</li>
      <li>Other management policy.</li>
    </ul>
    <p>If you suspect this behavior please contact <a href="/about">administrator</a>. Thanks.</p>
  </div>
</div>
<%= erb :_banner %>
