<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42168722-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-42168722-1');
    </script>

    <meta charset="utf-8">
    <title><%= @title  %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/vnd.microsoft.icon">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/bestgems.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">
  </head>

  <body>
    <%= erb :_header %>
    <div id="main">
      <%= yield %>
    </div>
    <%= erb :_footer %>
  </body>
</html>
